<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Customer Service Representative</h1>
            <span><address>Netflix - Amsterdam, The Netherlands</address><time>Sep 2018 - Mar 2021</time></span>
        </header>
        <p>Provided non-scripted customer service in English and Romanian to get members back to streaming 
         <br>Learning new things and finding creative ways to solve problems
         <br>Market Insights Point of Contact - responsible for gathering insights with trends, specific market issues, volume increase and customer experience and reporting them on a daily basis
         <br>Customer Satisfaction Score Analyst - listened to calls rated by customers positively or negatively and analysed why they gave that score, finding points of improvement and sharing the conclusions with the team.  </p>
    </article>
    <article>
        <header>
            <h1>Data Analytics Intern</h1>
            <span><address>Travix - Amsterdam, The Netherlands</address><time>Feb 2018 - Jun 2018</time></span>
        </header>
        <p>Used Google Analytics and Looker to gather data on customer segments, product performance and trends
         <br>Used Microsoft Excel and Google Sheets to build reports and analyse data
         <br>Transformed the results into actionable insights and presented them to the commercial department
            </p>
    </article>
    <article>
        <header>
            <h1>Junior Content Marketing Executive</h1>
            <span><address>Travix - Amsterdam, The Netherlands</address><time>Jul 2017 - Jan 2018</time></span>
        </header>
        <p>Developed a localised content marketing strategy for the APAC market and implemented it
         <br>Trained and supervised a content marketing intern
         <br>Analysed various marketing campaigns' performance .</p>
    </article>
    <article>
        <header>
            <h1>Content Marketing Intern</h1>
            <span><address>Travix - Amsterdam, The Netherlands</address><time>2013</time></span>
        </header>
        <p>Created promotional content for different campaigns including web pages, email newsletters, social media and blogs for the APAC and USA markets
         <br>Optimised landing pages' performance (SEO)</p>
    </article>
</section>